@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital@0;1&display=swap');
.container {
  /*padding-top: px;*/
  padding-top: 40px;
  padding-bottom: 40px;
  width: 70%;
  height: 70%;
  margin: 50px auto;
  align-content: center;
  background-color: #f8dc81;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #214151;
}

.padded-top-and-bottom {
  padding-top: 25px;
  padding-bottom: 25px
}

.padding-bottom {
  padding-bottom: 20px;
}
.img-circle {
  width: 90%;
  border-radius: 50%;
  border: 5px solid rgba(33, 65, 81, 0.68);
  justify-content: center;
}

i {
  font-size: 50px;
  color: #214151;
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

   h1 {
    font-size: 18px;
    line-spacing: 0;
  }

  p {
    font-size: 19px;
  }

  em {
    font-size: 19px;
  }

  i {
  font-size: 50px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }


  h1 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  em {
    font-size: 13px;
  }

  i {
  font-size: 30px;
  letter-spacing: 15px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

   h1 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  em {
    font-size: 10px;
  }

  i {
  font-size: 20px;
  letter-spacing: 10px;
  }
}

.card-flex {
  display: flex;
  justify-content: space-between;
}


.card {
  /*position: relative;*/
  /*top: 20px;*/
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
  /*background-color: #eff7e1;*/
}
.img-card {
  margin: auto;
  /*padding: 20px;*/
  justify-content: center;
  padding: 10px;
  width: 22%;
  height: 22%;
  border-radius: 5px;
}

.less-wide {
  width: 50%;
  margin: auto;
}

.yellow-text {
  color: #f8dc81;
}

.text-center {
  text-align: center;
}

.box-shadow-gray {
  box-shadow: 5px 5px 5px #214151;
}

.box-shadow-white {
  box-shadow: 5px 5px 5px white;
}
/*.card {
  width: 100%;
  margin: 50px auto 20px auto;
  border-radius: 7px;
  padding: 20px;
  text-align: center;

}*/

.gray-bg {
  background-color: #bfced9 ;
}

.white-bg {
  background-color: #eff7e1;
}

.black-bg-white-font {
  background-color: #214151;
  color: #eff7e1;
  border-radius: 5px;s
}

.img-text {
  width: 70%;
  margin: auto 0;
  text-align: center;
}

.blue-bg {
  background-color: #a2d0c1;
}

.dark-bg {
  background-color: #214151;
}
.red-link {
  color: rgb(255,0,0);
  background-color:rgb(255,224, 225) ;
  border-radius: 5px;
  text-decoration: none;
}
body {
  background-color: #eff7e1;
  /*font-family:'Saira', sans-serif;*/
  font-family: 'Rambla', sans-serif;
  color: #214151;
  font-size: 20px;
  /*line-height: 30px;*/
 }

h1 {
  font-size: 22px;
  font-weight: bold;
  /*line-height: 30px;*/
}

i:hover {
  background-color: #f8dc81;
}

